.*.swp
.*.swo
.*.swn
.*.swm
.*.swl

build/

# leftovers from patches
*.rej
*.orig

# artifacts of an in-tree build
config.log
config.status

Makefile

dat/*.lev
dat/Makefile
dat/data
dat/dungeon
dat/dungeon.pdf
dat/nhshare
dat/nhushare
dat/options
dat/oracles
dat/quest.dat
dat/quest_levs
dat/rumors
dat/spec_levs

doc/Guidebook
doc/Makefile

include/autoconf.h
include/date.h
include/dgn_comp.h
include/filename.h
include/lev_comp.h
include/onames.h
include/pm.h
include/vis_tab.h
include/win32api.h

src/Makefile
src/Sysunix
src/monstr.c
src/slashem
src/vis_tab.c
src/*.o
src/config.h-t
src/hack.h-t

util/Makefile
util/dgn_comp
util/dgn_lex.c
util/dgn_yacc.c
util/dlb
util/lev_comp
util/lev_lex.c
util/lev_yacc.c
util/makedefs
util/recover
util/*.o
