.*.swp
.*.swo
.*.swn
.*.swm
.*.swl

tags

*.o
util/dgn_yacc.c
util/dgn_yacc.h
util/lev_yacc.c
util/lev_yacc.h

dat/*.lev
dat/dungeon

src/slashem
util/slashem-recover
util/dgn_comp
util/lev_comp
util/dlb
util/data2c

dat/nhdat
include/dlb_archive.h
